<div class="container">

<!-- header container -->
	<div class="header-container">
		<h1>Burgers</h1>
	</div>

<!-- container where burgers will dynamically populate -->
	<div class="burger-container">
		<ul>
  			{{#each burger}}
  			{{/each}}
		</ul>
	</div>

<!-- form container -->
	<div class="form-container">
		<h2>Add a burger</h2>

		<form class="create-form">

	  		<div class="form-group">
	    		<label for="ca">Burger Name:</label>
	    		<input type="text" id="ca" name="name">
	  		</div>

	  		<button type="submit">Eat burger</button>
		</form>
	</div>

</div>






